### Imports

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

### Put all together

In [2]:
data = pd.DataFrame(columns=['Street', 'Regions', 'Beds', 'Baths', 'Price'])

In [3]:
website = requests.get('https://www.trulia.com/NY/New_York/1_p/')

soup = BeautifulSoup(website.content, 'html.parser')
result = soup.find_all('li', {'width':"1,1,0.5,1,0.5"})
results = []
for r in result:
    if r.has_attr('data-testid'):
        results.append(r)

streets = [r.find('div', {'data-testid': 'property-address'}).get_text().split(',')[0] for r in results]
regions = [r.find('div', {'data-testid': 'property-address'}).get_text().split(',')[1] for r in results]
beds = [r.find('div', {'data-testid': 'property-beds'}).get_text() for r in results]
baths = [r.find('div', {'data-testid': 'property-baths'}).get_text() for r in results]
prices = [r.find('div', {'data-testid': 'property-price'}).get_text() for r in results]

for k in range(len(streets)):
    data = data.append({'Street': streets[k], 'Regions': regions[k], 'Beds': beds[k],
                                         'Baths': baths[k], 'Price': prices[k]}, ignore_index=True)

In [4]:
data.head()

               Street    Regions    Beds Baths     Price
0  303 E 57th St #32B   New York     2bd   3ba  $329,000
1   210 E 90th St #4A   New York     1bd   1ba  $299,000
2  100 W 57th St #16E   New York  Studio   1ba  $179,000
3       709 E 51st St   Brooklyn     5bd   4ba  $899,000
4  303 E 57th St #34A   New York     2bd   3ba  $450,000

In [6]:
website = requests.get('https://www.trulia.com/NY/New_York/2_p/')
soup = BeautifulSoup(website.content, 'html.parser')
result = soup.find_all('li', {'width':"1,1,0.5,1,0.5"})
results = []
for r in result:
    if r.has_attr('data-testid'):
        results.append(r)

streets = [r.find('div', {'data-testid': 'property-address'}).get_text().split(',')[0] for r in results]
regions = [r.find('div', {'data-testid': 'property-address'}).get_text().split(',')[1] for r in results]
beds = [r.find('div', {'data-testid': 'property-beds'}).get_text() for r in results]
baths = [r.find('div', {'data-testid': 'property-baths'}).get_text() for r in results]
prices = [r.find('div', {'data-testid': 'property-price'}).get_text() for r in results]

for k in range(len(streets)):
    data = data.append({'Street': streets[k], 'Regions': regions[k], 'Beds': beds[k],
                                         'Baths': baths[k], 'Price': prices[k]}, ignore_index=True)

### Information about Dataframe

In [8]:
data.tail()

                    Street         Regions Beds Baths        Price
115           63 Ocean Ave   Staten Island  3bd   2ba     $589,999
116      2239 Troy Ave #2E        Brooklyn  1bd   1ba     $209,000
117          106 E 71st St        New York  7bd   9ba  $26,400,000
118  854 Intervale Ave #12           Bronx  3bd   1ba     $167,000
119           473 Union St        Brooklyn  5bd   5ba   $1,900,000

### Data Cleaning

In [11]:
data.Beds = data.Beds.apply(lambda x: x.strip('bd'))
data.Baths = data.Baths.apply(lambda x: x.strip('ba'))

In [13]:
data.head()

               Street    Regions    Beds Baths     Price
0  303 E 57th St #32B   New York       2     3  $329,000
1   210 E 90th St #4A   New York       1     1  $299,000
2  100 W 57th St #16E   New York  Studio     1  $179,000
3       709 E 51st St   Brooklyn       5     4  $899,000
4  303 E 57th St #34A   New York       2     3  $450,000

### Save in Excel