### Imports

In [1]:
from bs4 import BeautifulSoup
import requests 
import pandas as pd

### HTTP Request

#### store website in variable

In [2]:
url = 'https://books.toscrape.com/'

#### Get Request

In [3]:
response = requests.get(url)

#### Status Code

In [4]:
response.status_code

200

### Soup Object

In [5]:
soup = BeautifulSoup(response.content, 'html.parser')

### Results

In [6]:
result = soup.find_all('li',{'class':'col-xs-6'})
len(result)

20

In [7]:
# first entry
result[0]

<li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
<article class="product_pod">
<div class="image_container">
<a href="catalogue/a-light-in-the-attic_1000/index.html"><img alt="A Light in the Attic" class="thumbnail" src="media/cache/2c/da/2cdad67c44b002e7ead0cc35693c0e8b.jpg"/></a>
</div>
<p class="star-rating Three">
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
</p>
<h3><a href="catalogue/a-light-in-the-attic_1000/index.html" title="A Light in the Attic">A Light in the ...</a></h3>
<div class="product_price">
<p class="price_color">£51.77</p>
<p class="instock availability">
<i class="icon-ok"></i>

        In stock

</p>
<form>
<button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
</form>
</div>
</article>
</li>

#### Product Title

In [12]:
product = result[0]
product.find('h3').find('a')['title']

'A Light in the Attic'

#### Product Price

In [15]:
product.find('p', {'class':'price_color'}).get_text()

'£51.77'

#### Availability

In [19]:
product.find('p',{'class':"instock availability"}).get_text().strip()

'In stock'

### Create List and append our results (For Loop)

#### Name

In [25]:
#1
bookname = []
for r in result:
    bookname.append(r.find('h3').find('a').get('title'))

In [26]:
#2
bookname2 = [r.find('h3').find('a').get('title') for r in result]

In [27]:
bookname == bookname2

True

In [28]:
bookname

['A Light in the Attic',
 'Tipping the Velvet',
 'Soumission',
 'Sharp Objects',
 'Sapiens: A Brief History of Humankind',
 'The Requiem Red',
 'The Dirty Little Secrets of Getting Your Dream Job',
 'The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull',
 'The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics',
 'The Black Maria',
 'Starving Hearts (Triangular Trade Trilogy, #1)',
 "Shakespeare's Sonnets",
 'Set Me Free',
 "Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)",
 'Rip it Up and Start Again',
 'Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991',
 'Olio',
 'Mesaerion: The Best Science Fiction Stories 1800-1849',
 'Libertarianism for Beginners',
 "It's Only the Himalayas"]

#### Price

In [29]:
book_price = [r.find('p', {'class':'price_color'}).get_text() for r in result]
book_price

['£51.77',
 '£53.74',
 '£50.10',
 '£47.82',
 '£54.23',
 '£22.65',
 '£33.34',
 '£17.93',
 '£22.60',
 '£52.15',
 '£13.99',
 '£20.66',
 '£17.46',
 '£52.29',
 '£35.02',
 '£57.25',
 '£23.88',
 '£37.59',
 '£51.33',
 '£45.17']

#### Stock Availability

In [30]:
stock = [r.find('p',{'class':"instock availability"}).get_text().strip() for r in result]

In [31]:
stock

['In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock']

### Pandas Dataframe

In [33]:
book = pd.DataFrame({'Name' : bookname, 'Price': book_price, 'Availability': stock})

In [34]:
book

                                                 Name   Price Availability
0                                A Light in the Attic  £51.77     In stock
1                                  Tipping the Velvet  £53.74     In stock
2                                          Soumission  £50.10     In stock
3                                       Sharp Objects  £47.82     In stock
4               Sapiens: A Brief History of Humankind  £54.23     In stock
5                                     The Requiem Red  £22.65     In stock
6   The Dirty Little Secrets of Getting Your Dream...  £33.34     In stock
7   The Coming Woman: A Novel Based on the Life of...  £17.93     In stock
8   The Boys in the Boat: Nine Americans and Their...  £22.60     In stock
9                                     The Black Maria  £52.15     In stock
10     Starving Hearts (Triangular Trade Trilogy, #1)  £13.99     In stock
11                              Shakespeare's Sonnets  £20.66     In stock
12                                        Set Me Free  £17.46     In stock
13  Scott Pilgrim's Precious Little Life (Scott Pi...  £52.29     In stock
14                          Rip it Up and Start Again  £35.02     In stock
15  Our Band Could Be Your Life: Scenes from the A...  £57.25     In stock
16                                               Olio  £23.88     In stock
17  Mesaerion: The Best Science Fiction Stories 18...  £37.59     In stock
18                       Libertarianism for Beginners  £51.33     In stock
19                            It's Only the Himalayas  £45.17     In stock

In [ ]:
# book_info.to_excel('books_results_done.xlsx', index=False)