### Imports

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

### HTTP Request

#### store website in variable

In [2]:
url = 'https://www.trulia.com/CA/San_Francisco/'

#### Get Request

In [3]:
response = requests.get(url)

### Soup Object

In [4]:
soup = BeautifulSoup(response.content, 'html.parser')

### Results

In [9]:
result = soup.find_all('li',{'width':"1,1,0.5,1,0.5"})

In [10]:
len(result)

42

### Update Results

we just want to target the elements which have the attribute 'data-testid'

In [12]:
results = []

In [13]:
for r in result:
    if r.has_attr('data-testid'):
        results.append(r)

In [14]:
len(results)

40

### Target necessary data

In [23]:
# Street
# Region
# Bedrooms
# Bathrooms
# Price

#### Street

In [26]:
results[0].find('div',{'data-testid':"property-address"}).get_text().split(',')[0]
# results[0].find('div',{'data-testid':"property-address"})['title'].split(',')[0]

'22 Granada Ave'

#### Region

In [31]:
results[0].find('div',{'data-testid':"property-address"}).get_text().split(',')[1]
# results[0].find('div',{'data-testid':"property-address"})['title'].split(',')[1]

' San Francisco'

#### Bedrooms

In [34]:
result[0].find('div',{'data-testid':"property-beds"}).get_text()

'3bd'

#### Bathrooms

In [35]:
result[0].find('div',{'data-testid':"property-baths"}).get_text()

'2ba'

#### Price

In [36]:
result[0].find('div', {'data-testid': 'property-price'}).get_text()

'$959,000'

### Append all Results in Lists with List Comprehension

In [38]:
streets = [r.find('div', {'data-testid': 'property-address'}).get_text().split(',')[0] for r in results]
regions = [r.find('div', {'data-testid': 'property-address'}).get_text().split(',')[1] for r in results]
beds = [r.find('div', {'data-testid': 'property-beds'}).get_text() for r in results]
baths = [r.find('div', {'data-testid': 'property-baths'}).get_text() for r in results]
prices = [r.find('div', {'data-testid': 'property-price'}).get_text() for r in results]

In [39]:
data = pd.DataFrame({'Street':streets, 'Region': regions, 'Bedrooms': beds, 'Bathrooms': baths, 'Price': prices})

### Create Pandas Dataframe

In [40]:
data.head()

             Street          Region Bedrooms Bathrooms       Price
0    22 Granada Ave   San Francisco      3bd       2ba    $959,000
1  947 Edinburgh St   San Francisco      3bd       3ba    $998,000
2  2561 Chestnut St   San Francisco      4bd       3ba  $1,995,000
3     1850 19th Ave   San Francisco      4bd       3ba    $998,000
4   2027 Noriega St   San Francisco      3bd       2ba  $1,195,000

### Output in Excel

In [ ]:
# real_estate.to_csv('real_estate_page_1.csv', index=False)