<a href="https://colab.research.google.com/github/JaperTai77/webscraping/blob/main/webscrappingipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from bs4 import BeautifulSoup
import requests

In [5]:
url = 'http://cpblstats.com/2021-cpbl-batting-stats/'
response = requests.get(url)
response.status_code

200

In [43]:
soup = BeautifulSoup(response.content,'html.parser')
result = soup.find('table',{'id':"tablepress-256"})

In [70]:
result.find_all('tr',{'class':'row-5'})

[<tr class="row-5 odd">
 <td class="column-1">陳傑憲</td><td class="column-2">Chen Chieh-Hsien</td><td class="column-3">358</td><td class="column-4">0.328</td><td class="column-5">0.403</td><td class="column-6">0.427</td><td class="column-7">0.830</td><td class="column-8">138.1</td><td class="column-9">145.74</td><td class="column-10">7.8%</td><td class="column-11">10.1%</td><td class="column-12">1.29</td><td class="column-13">0.352</td><td class="column-14">80.0%</td><td class="column-15">0.393</td><td class="column-16">陳傑憲</td><td class="column-17">Chen Chieh-Hsien</td>
 </tr>]

In [64]:
length = len(result.find_all('td',{'class':'column-1'}))

In [66]:
import pandas as pd
name = []
PA = []
AVG = []
ops_plus = []
wRc_plus = []
for i in range(length):
  name.append(result.find_all('td',{'class':'column-1'})[i].get_text())
  PA.append(result.find_all('td',{'class':'column-3'})[i].get_text())
  AVG.append(result.find_all('td',{'class':'column-4'})[i].get_text())
  ops_plus.append(result.find_all('td',{'class':'column-8'})[i].get_text())
  wRc_plus.append(result.find_all('td',{'class':'column-9'})[i].get_text())

data = pd.DataFrame({'球員' : name, '打席': PA, '打擊率': AVG, 'OPS+': ops_plus, 'wRc+': wRc_plus})
data.head()

    球員   打席    打擊率   OPS+    wRc+
0  王威晨  371  0.335  112.1  120.19
1  許基宏  369  0.290  138.1  139.91
2  江坤宇  358  0.263   93.6   95.84
3  陳傑憲  358  0.328  138.1  145.74
4  蘇智傑  351  0.303  135.1  136.95

In [74]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138 entries, 0 to 137
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   球員      138 non-null    object
 1   打席      138 non-null    object
 2   打擊率     138 non-null    object
 3   OPS+    138 non-null    object
 4   wRc+    138 non-null    object
dtypes: object(5)
memory usage: 5.5+ KB

In [77]:
data['打席'] = data['打席'].apply(lambda x: int(x))
data['打擊率'] = data['打擊率'].apply(lambda x: float(x))
data['OPS+'] = data['OPS+'].apply(lambda x: float(x))
data['wRc+'] = data['wRc+'].apply(lambda x: float(x))

In [78]:
data.describe()

               打席         打擊率       OPS+        wRc+
count  138.000000  138.000000  138.00000  138.000000
mean   117.572464    0.210268   68.46087   62.679638
std    107.624509    0.097448   54.57571   69.558589
min      0.000000    0.000000  -74.70000 -136.560000
25%     24.500000    0.169250   36.35000   32.642500
50%     84.000000    0.232500   74.15000   72.100000
75%    202.750000    0.275750  105.05000  105.637500
max    371.000000    0.500000  187.50000  209.820000

In [88]:
data.sort_values(by = 'wRc+', ascending = True).head(10)

      球員  打席    打擊率  OPS+    wRc+
134  王順和   2  0.000   0.0 -136.56
133  董子浩   3  0.000   0.0 -136.56
132  張皓緯   4  0.000   0.0 -136.56
130  牛塏曄   4  0.000   0.0 -136.56
136  黃韋盛   1  0.000   0.0 -136.56
117  馮健庭  12  0.000 -74.7  -92.17
118  許哲晏  11  0.000 -72.4  -88.13
120  鄭鎧文  10  0.000 -69.6  -83.29
121  李丞齡   9  0.111 -36.1  -59.59
116  王勝偉  13  0.000 -44.7  -52.58

In [87]:
condition = (data['打席']>100) & (data['打席']<200)
data[condition].nlargest(10,'打擊率')

     球員   打席    打擊率   OPS+    wRc+
47  張進德  143  0.339  142.8  146.89
49  高孝儀  137  0.310   93.2   95.39
48  郭永維  139  0.304  103.4   96.23
59  葉竹軒  102  0.301  129.7  142.11
42  馬傑森  149  0.292   93.0   93.45
56  張偉聖  105  0.292   98.5  101.89
39  張志豪  167  0.271  135.3  141.23
37  曾陶鎔  193  0.263  122.8  127.25
53  吳桀睿  120  0.262   99.3  104.72
43  楊瑞承  146  0.254  105.2  110.33